<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="/ckeditor4/ckeditor.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/admin_news.css' />
    <title><%= title %></title>
    
  </head>
  <body>
    <div class="main">
      <header><%- include template/header %></header>
      <footer><%- include template/footer %></footer>
      <aside><%- include template/aside %></aside>
      <article id="article-nav">
          <ul>
              <li><i class="ace-icon fa fa-home home-icon"></i></li>
              <li><i class="fas fa-angle-double-right" style="font-size: 10px;"></i></li>
              <li><%= title %></li>
          </ul>
      </article>
      <article id="article-body">
        <div id="menu-title">
          <%= text  %>
        </div>
        <br>
        <div id="type-head">
          <i class="fas fa-angle-double-right"></i> แก้ไขประเภทหวย
        </div>
        <br>
        <div id="type-edit">
          <form action="admin_type/controltype" method="POST">
              <input type="text" name="typecode" value="">
              <input type="text" name="typename" value="">
              <input type="submit" name="btn" value="Add">
              <!-- <input type="submit" name="btn" value="Edit">
              <input type="submit" name="btn" value="Delete"> -->
          </form> <br>
            <% typex.forEach((i)=>{ %>
                <form action="admin_type/controltype" method="POST">
                    <input type="hidden" name="typeid" value="<%= i.TypeId %>" >
                    <input type="text" name="typecode" value="<%= i.TypeCode %>">
                    <input type="text" name="typename" value="<%= i.TypeName %>">
                    <!-- <input type="submit" name="btn" value="Add"> -->
                    <input type="submit" name="btn" value="Edit">
                    <input type="submit" name="btn" value="Delete">
                </form>
            <% }); %>
        </div>
        
      </article>
      
      
    </div>
  </body>
</html>